@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
	background-color : #F1F1F1;
	font-family: 'Roboto', sans-serif;
}

body {
	margin : auto;
	width : 850px;
	padding-top : 10px;
	font-size: 14px;
}

table {
	font-size: 14px;
}

section {
	
}

footer {
	display : inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.panel {
	background-color : #FFFFFF;
	width : auto;
	box-shadow: 1px 0px 10px #888888;
	margin-top: 10px;
        padding: 10px;
}

.perso {
	border-left: 5px solid #55BBE6;
	height : auto;
}

.main {
	/*display: table;*/
	margin-top: 10px;
}

.competence {
	border-left: 5px solid #E6B855;
	/*height : auto;*/
	width: 45%;
	/*float: left;*/
	display: table-cell;
	padding-bottom: 10px;
}

.formation {
	border-left: 5px solid #55E670;
	/*height : auto;*/
	/*width: 100%;*/
	/*margin-left: 15px;*/
	/*float: right;*/
	/*display: table-cell;*/
	padding-bottom: 10px;
}

.hobby {
	border-left: 5px solid #E94E4E;
	height : 200px;
}

.info {
	float: left;
	height: 100px;
	width: 75%;
	margin: 15px;
}

.photo {
	float: right;
	height: auto;
	width: auto;
	border: 3px solid #55BBE6;
	margin: 15px;
}

.img {
	height : 120px;
	width : 120px;
}

.perso .titre {
	color: #55BBE6;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.competence .titre {
	color: #E6B855;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.formation .titre {
	color: #55E670;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.langage .titre, .logiciel .titre, .conception .titre {
	color: black;
	margin-left: 10px;
	text-align: left;
}

.langue .titre {
	color: black;
	margin-left: 10px;
	text-align: left;
}

.competence .separateur {
	color: #E6B855;
	font-weight: bold;
}

.tabLangage, .tabLogiciel, .tabLangue, .tabConception {
	margin-left: 40px;
	width: 80%;
}

.tabLangage .tabEntete:before, .tabLogiciel .tabEntete:before, .tabLangue .tabEntete:before, .tabConception .tabEntete:before {
	content: "♦ ";
	color: #E6B855;
}

.ListeLiens .puce:before {
	content: "♦ ";
	color: #E6B855;
}

.ListeLiens {
	margin-left: 50px;
	list-style-type: none;
	margin-top : -5px;
}

.tabValeur {
	text-align: right;
}

.tabLangue .puce {
	color: #E6B855;
	font-size: 24px;
	text-align: center;
}

.professionnelle, .scolaire {
	margin-left: 10px;
}

.date {
	color : gray;
}

.separationH {
	margin: auto;
	width: 80%;
	border-bottom: 1px solid  #55E670;
	margin-top: 10px;
	margin-bottom: 10px;
}

.separationV {
	margin: auto;
	height: 60%;
	border-left: 1px solid  #E94E4E;
	margin-left: 10px;
	margin-right: 10px;
	float : left;
}

.separationT {
	width: 10px;
}

.formation .lien {
	color: #55E670;
}

.langue {
	margin-bottom: 11px;	/* Pour gérer la hauteur */
}

footer .titre {
	color: #E94E4E;
	text-align: center;
	display: inline-block;
	margin-left: 20px;
}

footer a {
	color: #E94E4E;
}

.hobbiesG {
	width: 45%;
	height: 50px;
	float : left;
	margin-left: 20px;
	margin-top: 20px;
}

.hobbiesD {
	width: 45%;
	height: 50px;
	float : left;
}

input[type=button] {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #55E670;
  border: none;
  border-radius: 0px;
  box-shadow: 0 2px #0A9424;
  text-transform: uppercase;
  border-radius: 4px;
}

input[type=button]:hover {
  background-color: #35D452;
}

input[type=button]:active {
  background-color: #1CBD3A;
  box-shadow: 0 0px #0A9424;
  transform: translateY(1px);
}

.patient {
    margin: 0px 40px 20px 40px;
    padding-bottom: 20px;
}

.tabPatient {
    width: 45%;
}

.map {
    margin-left: 10px;
    width: 45%;
}

.divMap {
    border: 1px solid black;
}

.divMap img {
    width: 100%;
}

.left {
    float: left;
}

.block {
    width: 100%;
    display: inline-block;
}

/**/
.visite {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
}

.visite table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	/*height:100%;*/
	margin:0px;padding:0px;
}

.visite tr:nth-child(odd) {
	background-color:#e0e0e0;
}

.visite tr:nth-child(even) {
	background-color:#ffffff;
}

.visite td {
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.visite tr td:first-child {
	width: 15%;
}

.visite tr:last-child td {
	border-width:0px 1px 0px 0px;
}

.visite tr td:last-child {
	border-width:0px 0px 1px 0px;
}

.visite tr:last-child td:last-child {
	border-width:0px 0px 0px 0px;
}

.visite tr:first-child td {
	background-color:#55e670;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.visite tr:first-child td:first-child {
	border-width:0px 0px 1px 0px;
}

.visite tr:first-child td:last-child {
	border-width:0px 0px 1px 1px;
}


/**
	Table des infos patients
*/

.tabPatient table td:last-child {
    text-align: left;
}

.tabPatient table {
	border-collapse: collapse;
	border-spacing: 0;
	border: solid 1px;
}

.tabPatient tr td {
    padding: 7px;
}

.tabPatient table td:first-child{
	
	/*background-color: #55e670;
	color: white;*/

	background-color: #F1F1F1;
	color: black;

	font-style: bold;
	font-size: 16px;
	border: 1px solid black;
    text-align: right;
}

.tabPatient table td:last-child {
	border: 1px solid;
}


/**
*/

.perso h1 {
	padding: 5px;
	/*background-color: #55BBE6;
	border: 1px solid;*/
	border-radius: 2px 2px 0px 0px;
	text-align: center;
}

.perso h2 {
	padding: 10px;
	/*border: 1px solid;*/
	text-align: center;
	margin-top: -20px;
}